/wp-content

# Dependency directories
/node_modules
app/node_modules
studio/node_modules
wp-to-sanity/node_modules

# lerna files
/lerna-debug.log

# Lock files
/package-lock.json
/yarn.lock

# Mac files
.DS_Store
