/* Global */
:root {
	--space-0: 0;
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 20px;
	--space-5: 32px;
	--space-6: 52px;
	--space-7: 84px;
	--space-8: 136px;
	--space-9: 220px;

	--font-family-sans: Raleway;
	--font-family-serif: Crimson Text;
	--font-family-mono: IMB Plex Mono;

	--font-size-0: 12px;
	--font-size-1: 14px;
	--font-size-2: 16px;
	--font-size-3: 18px;
	--font-size-4: 20px;
	--font-size-5: 24px;
	--font-size-6: 30px;
	--font-size-7: 36px;
	--font-size-8: 48px;
	--font-size-9: 60px;
	--font-size-10: 72px;

	--line-height-0: 16px;
	--line-height-1: 20px;
	--line-height-2: 24px;
	--line-height-3: 28px;
	--line-height-4: 28px;
	--line-height-5: 32px;
	--line-height-6: 36px;
	--line-height-7: 40px;
	--line-height-8: 48px;
	--line-height-9: 60px;
	--line-height-10: 72px;
	--line-height-11: 96px;
	--line-height-12: 128px;

	--white: #fff;
	--black: #101112;
	--gray-200: #ced2d9;
	--gray-600: #6e7683;
	--blue-600: #1e61cd;
	--magenta-100: #f9d7eb;

	--max-width-0: 320px;
	--max-width-1: 768px;
}

html {
	background-color: var(--white);
	font-family: var(--font-family-sans), var(--font-family-serif), sans-serif;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-sans);
}

/* Post page */
.post {
	width: 100%;
	margin: var(--space-1) 0 var(--space-4);
}

.post .post__cover,
.post .post__cover--none {
	width: 100%;
	height: 200px;
	-o-object-fit: cover;
	object-fit: cover;
}

.post .post__cover--none {
	background: var(--black);
}

.post .post__container {
	padding: 0 var(--space-3);
}

.post .post__content {
	font-family: var(--font-family-serif);
	font-weight: 400;
	font-size: var(--font-size-4);
	line-height: var(--line-height-4);
	margin-top: var(--space-6);

	/* Targeting tags in PortableText */
}

.post .post__content blockquote {
	border-left: 5px solid var(--black);
	padding-left: var(--space-3);
	margin-left: var(--space-4);
}

.post .post__content a {
	color: var(--blue-600);
	text-decoration: none;
}

.post .post__title {
	font-family: var(--font-family-sans);
	font-size: var(--font-size-7);
	line-height: var(--line-height-6);
	margin: var(--space-4) 0;
	font-weight: 800;
}

.post .post__excerpt {
	font-family: var(--font-family-serif);
	font-size: var(--font-size-5);
	line-height: var(--line-height-4);
	margin-top: 0;
	font-weight: 400;
}

.post .post__date {
	font-family: var(--font-family-sans);
	font-weight: 600;
	font-family: var(--font-family-sans);
	font-size: var(--font-size-1);
	line-height: var(--line-height-1);
	margin-top: var(--space-4);
}

@media (min-width: 800px) {
	.post .post__cover,
	.post .post__cover--none {
		width: 750px;
		height: 380px;
	}

	.post .post__title {
		font-size: var(--font-size-10);
		line-height: var(--line-height-10);
		margin: var(--space-6) 0 0;
		letter-spacing: -0.02em;
	}

	.post .post__excerpt {
		font-size: var(--font-size-5);
		line-height: var(--line-height-5);
		margin-top: var(--space-3);
		margin-bottom: var(--space-3);
	}

	.post .post__date {
		font-size: var(--font-size-3);
		line-height: var(--line-height-2);
		margin-top: var(--space-0);
	}

	.post .post__content {
		margin-top: var(--space-5);
	}
}

/* Layout */
.container {
	margin: 0 auto;
}

main {
	margin-top: var(--space-3);
}

.header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	padding: 0;
	border-bottom: 1px solid #ced2d9;
	z-index: 10;
	/* Make the header wider than it's parent container */
	width: 100vw;
	margin-left: calc((100vw - 100%) / -2);
	margin-right: calc((100vw - 100%) / -2);
}

.header .header__title {
	font-weight: 800;
	font-size: var(--font-size-5);
	line-height: var(--line-height-2);
	margin: var(--space-3) 0px var(--space-3) 0px;
	text-decoration: none;
	color: var(--white);
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

.footer {
	clear: both;
	display: flex;
	justify-content: flex-end;
	padding: var(--space-4) var(--space-3);
}

.footer .footer__text {
	font-size: var(--font-size-1);
	letter-spacing: 0.1rem;
	line-height: var(--line-height-1);
	display: flex;
	align-items: right;
	gap: 2px;
	font-style: italic;
	color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 575px) {
	.container {
		max-width: var(--max-width-1);
		padding: 0 var(--space-4);
	}

	.header {
		border-bottom: none;
		background-color: unset;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header .header__title {
		font-size: var(--font-size-7);
		margin: var(--space-3) 0 var(--space-2) 0;
	}

	.footer {
		margin: var(--space-3) 0;
	}
}

/* Welcome component */

.welcome__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--space-2) var(--space-2);
}

@media (min-width: 575px) {
	.welcome__container {
		width: 100%;
	}
}

/* Widget stuff */

#widgetSection {
	padding: 9px 9px 12px 9px;
	border: 1px solid #ced2d9;
	border-radius: 3px;
	margin-bottom: 1.3rem;
}

#searchInputSection {
	padding: 9px 9px 12px 9px;
	border: 1px solid #ced2d9;
	border-radius: 0px;
	margin: 0.2rem 0 0.3rem 0rem;
}

.seachInputField,
on:focus {
	outline: none;
	border: none;
	font-size: 1em;
	width: 100%;
}

#pleaseApplyFilter {
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	color: red;
}

.dropdownSelect {
	height: 40px;
	width: 100%;
	font-size: 1rem;
	padding: 5px 10px; /* Padding inside the dropdown */
	border: 1px solid #ccc;
	border-radius: 4px; /* Rounded corners */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A slght box shadow */
}

#campaignInfo {
	padding: 9px;
	padding-bottom: 0px;
	border: 1px solid #ced2d9;
	border-radius: 3px;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
}

#campaignInfo .row {
	display: flex;
	margin-bottom: 10px;
	padding: 5px 7px;
	background: rgb(187, 187, 187);
	background: linear-gradient(to right, rgb(187, 187, 187) 60%, rgba(187, 187, 187, 0.098) 100%);
	border-radius: 1px;
	color: rgba(48, 48, 48, 0.766);
}

#campaignInfo .label {
	font-weight: bold;
	margin-right: 10px;
}

#campaignInfo .value {
	flex-grow: 1;
}

.drop-shadow-image {
	box-shadow:
		0 1px 1px rgba(0, 0, 0, 0.12),
		0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12),
		0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
}

.nav-link-box {
	padding: 10px;
	margin-right: 10px;
	box-shadow:
		rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

ul.nav-link-box {
	list-style-type: none;
}

.nav-link {
	color: black;
	transition: 400ms;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
.nav-link:hover {
	border-color: black;
}

a.editLink {
	box-shadow: none;
	transition: box-shadow 0.3s;
}
a.editLink:hover {
	box-shadow: 0px 104px 70px -73px rgba(231, 166, 26, 1);
}

a.editLink img {
	margin-top: 5px;
	height: 1.2rem;
}

/* Card */

.card {
	display: flex;
	flex-direction: column;
	padding: var(--space-2);
	padding: 9px;
	position: relative;
	border-bottom: 1px solid #ced2d9;
}

.card .card__container {
	margin: 0 var(--space-1) 0;
}

.card .card__cover {
	width: 100%;
	height: 231px;
	-o-object-fit: cover;
	object-fit: cover;
}

.card .card__cover--none {
	width: 100%;
	height: 231px;
	background: var(--black);
}

.card .card__title {
	font-family: var(--font-family-sans);
	font-weight: 800;
	font-size: var(--font-size-7);
	line-height: var(--line-height-6);
	letter-spacing: -0.005em;
	margin: var(--space-3) 0;
}

.card .card__excerpt {
	font-family: var(--font-family-serif);
	font-weight: 400;
	font-size: var(--font-size-4);
	line-height: var(--line-height-3);
	margin-top: 0;
}

.card .card__date {
	font-weight: 600;
	font-family: var(--font-family-sans);
	font-size: var(--font-size-1);
	margin-top: calc(var(----space-4) + 7);
}

.card .card__link {
	color: var(--black);
	text-decoration: none;
}

.card .card__link:hover {
	opacity: 0.8;
	transition: 0.2s;
}

.card .card__link::before {
	content: '';
	position: absolute;
	inset: 0;
}

.card:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.card:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

@media (min-width: 575px) {
	.card {
		border: 1px solid #ced2d9;
		border-bottom: none;
	}

	.card .card__title {
		margin-top: var(--space-4);
	}

	.card:last-child {
		border-bottom: 1px solid #ced2d9;
	}
}

@media (min-width: 800px) {
	.card {
		flex-direction: row;
	}

	.card .card__container {
		margin: 0 var(--space-4) 0;
	}

	.card .card__cover,
	.card .card__cover--none {
		min-width: 366.5px;
		max-width: 366.5px;
		max-height: 231px;
	}
}
