.root {
  background: #444444;
  color:white ;
  min-height: 100%;
  box-sizing: border-box;

  @nest & > div > pre {
    margin: 0;
  }
}


.heading {
  margin: -1em 0em 0em -1em;
  padding: 2em 1em 1em 3em;
}

.body {
  margin: 0;
  padding: 2em;
}
