.root {
  background: #444444;
  color:white ;
  min-height: 100%;
  box-sizing: border-box;

  @nest & > div > pre {
    margin: 0;
  }
}


.heading {
  margin: 0;
  padding: 2em 1em 1em 2em;
}

.title {
  background-image: linear-gradient(to right, rgba(223, 223, 223, 0.7), rgba(200, 200, 200, 0.005));
  color:#444444; ;
  padding-left: 2px;
}

.body {
  margin: 0;
  padding: 2em;
}
